Package: com.hoangdus.boopboopboop
Name: BoopBoopBoop
Version: 0.0.3
Architecture: iphoneos-arm
Description: Custom sound for iOS
Maintainer: Hoangdus
Author: Hoangdus
Section: Tweaks
Depends: mobilesubstrate (>= 0.9.5000)
